pydantic==1.9.2; python_full_version >= "3.6.1"
python-box==6.0.2; python_version >= "3.6"
pyyaml==6.0; python_version >= "3.6"
typeguard==2.13.3; python_full_version >= "3.5.3"
typing-extensions==4.3.0; python_version >= "3.7" and python_full_version >= "3.6.1"
